.CreateTask {
    border-radius: 4vh;
    position: fixed;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%) scale(145%);
    text-align: center;
    vertical-align: middle;
    line-height: 3.1vh;
    background: #fff;
    width: 15%;
    height: 20%;
    font-family: 'Rubik', sans-serif;
    box-shadow: 4px 4px 0px 0px gray;
}

.SubmitButt {
    border-radius: 20px;
    position: fixed;
    top: 110%;
    left: 54%;
    transform: translate(-50%, -50%) scale(100%);
    background: #fff;
}

.SubmitButt:hover {
    border-radius: 20px;
    position: fixed;
    top: 110%;
    left: 54%;
    transform: translate(-50%, -50%) scale(100%);
    background: #7a7a7a;
    cursor: pointer;
}

.TasksWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Separator{
    position: fixed;
    top: 10%;
    left: 3%;
    max-width: 125vh;
}

.Card {
    border-radius: 20px;
    width: 240px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    background: rgba(79, 255, 247, 0.5);
    margin-right: 2vh;
}

.Card-Img {
    height: 180px;
    background: url("/static/img/motivation-png-6.png");
    background-size: cover;
}

.Card-Title {

}

.Card-Details {

}

.Card-Buttons {

}

.Card-Start {

}

.Card-End{

}

.Logout {
    border-radius: 20px;
    width: 70px;
    height: 23px;
    font-family: 'Rubik', sans-serif;
    position: fixed;
    top: 80%;
    left: 81%;
    transform: translate(-50%, -50%) scale(120%);
    background: #A6E3DC;
    text-align: center;
}

textarea{
    width: 80%;
}

text {
    width: 100%;
}

body {
    background: #fafbfd;
    background-image: url(/static/img/background.png);
    background-repeat: no-repeat;
    background-position: -10vh 20vh;
    overflow: scroll;
}